* {
  margin: 0;
  padding: 0;
}
.caixa {
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 10px;
  background-color: gray;
}

.coral {
  background-color: lightcoral;
}

.verde {
  background-color: lightgreen;
}

.azul {
  background-color: lightblue;
}

.circulo {
  border-radius: 100%;
}