<!DOCTYPE html>
<head>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="./vue-diretiva.css">
  <title>Vue-Template</title>
</head>
<body>

  <div id="app">
    <!-- USER File Vue-diretiva.js -->
    <!-- <h1>Texto da lista com V-FOR IN</h1>
    <ul>
      <li v-for="item in produtos"> {{ item.nome }} </li>
    </ul>
    <h1>Texto da lista com V-FOR OF</h1>
    <ul>
      <li v-for="item of produtos"> {{ item.nome }} </li>
    </ul>
    <h1>Texto da lista com V-FOR OF com INDEX</h1>
    <ul>
      <li v-for="(item, index) of produtos"> Produto: {{index}} - {{ item.nome }} </li>
    </ul>
    <h1>Lista de Objetos com V-FOR OF com Chave</h1>
    <ul>
      <li v-for="(item, chave) in objetos"> {{ chave }} : {{ item }} </li>
    </ul>
    <h1>Lista de Objetos com V-FOR OF com Chave, Valor e INDEX</h1>
    <ul>
      <li v-for="(item, chave, index) in objetos"> {{ index }} - {{ chave }} : {{ item }} </li>
    </ul>
    <h1>Interando números</h1>
    <ul>
      <li v-for="(valor, index) in 30"> position: {{ index }} - Valor: {{ valor }} </li>
    </ul> -->

    <!-- <h1>FOR with IF FULL</h1>
    <ul>
      <li v-for='item in users' v-if='!item.competed'>
        <a href="#">{{item.name}}</a>
      </li>
    </ul>
    <h1>FOR with IF COMPLETED</h1>
    <ul>
      <li v-for='item in tarefasIncompletas'>
        <a href="#">{{item.id}} {{item.name}} {{item.competed ? 'Completado' : 'Incompleta'}}</a>
      </li>
    </ul> -->
    <!-- <h3>Mutabilidade</h3>
    <ul>
      <li v-for='item in users'> {{item.id }} - {{item.name}} - {{item.completed}} </li>
    </ul>
    <button @click='addUsers'>New Users</button> -->
    <h2 ref="ms">{{meuTitulo}}</h2>
    <button @click="alterar">Alterar</button>
  </div>
  <div id="app2"></div>
  <!-- <script src="./vue-diretiva.js"></script> -->
  <!-- <script src="./vue-for-if.js"></script> -->
  <script src="./vue.js"></script>

</body>
</html>